In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as FUNC
from pyspark.sql import SparkSession

In [3]:
spark = (
    SparkSession
    .builder
    .config("spark.driver.memory", '8g')
    .enableHiveSupport()
    .getOrCreate()
)

In [5]:
df = spark.read.csv("C:/Users/rodri/Downloads/bike-sharing.csv", sep =',', header = True, encoding = 'latin1')

In [7]:
df.toPandas()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.6,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.6,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.6,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [9]:
df.columns

['datetime',
 'rec_id',
 'season',
 'year',
 'month',
 'hour',
 'is_holiday',
 'weekday',
 'is_workingday',
 'weather_condition',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 'casual',
 'registered',
 'total_count']

In [10]:
df.count()

17379

In [11]:
df.agg(mean('windspeed').alias('media de velocidade')).show()

+-------------------+
|media de velocidade|
+-------------------+
| 0.1900976063064631|
+-------------------+

In [12]:
df.agg(mean('temp').alias('media temp')).show()

+------------------+
|        media temp|
+------------------+
|0.4969871684216586|
+------------------+

In [13]:
df_questao_4 = df.filter(col('year') == 1)

In [14]:
df_questao_4.count()

8734

In [15]:
df_questao_5 = df.filter(col('year') == 0)

In [16]:
df_questao_5.count()

8645

In [18]:
df_questao_4.agg(sum('total_count').alias('somatorio_2011')).show()

+--------------+
|somatorio_2011|
+--------------+
|     2049576.0|
+--------------+

In [19]:
df_questao_5.agg(sum('total_count').alias('somatorio_2012')).show()

+--------------+
|somatorio_2012|
+--------------+
|     1243103.0|
+--------------+

In [22]:
df_questao_8_9 = df.groupby('season').agg(mean('total_count')).show()

+------+------------------+
|season|  avg(total_count)|
+------+------------------+
|     3|236.01623665480426|
|     1|111.11456859971712|
|     4|198.86885633270322|
|     2|208.34406894987526|
+------+------------------+

In [26]:
df_questao_10 = df.groupby('hour').agg(mean('total_count').alias('media')).show()

+----+------------------+
|hour|             media|
+----+------------------+
|   7| 212.0646492434663|
|  15| 251.2331961591221|
|  11| 208.1430536451169|
|   3|11.727403156384504|
|   8|359.01100412654745|
|  22|131.33516483516485|
|  16| 311.9835616438356|
|   0| 53.89807162534435|
|   5| 19.88981868898187|
|  18|  425.510989010989|
|  17|461.45205479452056|
|   6| 76.04413793103448|
|  19|311.52335164835165|
|  23| 87.83104395604396|
|   9|219.30949105914718|
|   1|  33.3756906077348|
|  20|226.03021978021977|
|  10| 173.6685006877579|
|   4| 6.352941176470588|
|  12|253.31593406593407|
+----+------------------+
only showing top 20 rows

In [27]:
df_questao_11_12 = df.groupby('weekday').agg(mean('total_count')).show()

+-------+------------------+
|weekday|  avg(total_count)|
+-------+------------------+
|      3|191.13050505050506|
|      0|177.46882494004797|
|      5|196.13590671491758|
|      6|190.20979299363057|
|      1|183.74465510286404|
|      4|196.43666531768514|
|      2|191.23889115368937|
+-------+------------------+

In [28]:
df_questao_14 = df.filter(col('weekday') == 3)

In [35]:
df_questao_14.groupby('hour').agg(mean('total_count').alias('media_day_3')).orderBy(col('media_day_3').desc()).show()

+----+------------------+
|hour|       media_day_3|
+----+------------------+
|  17| 513.1442307692307|
|  18|494.02912621359224|
|   8| 488.3269230769231|
|  19|357.50485436893206|
|   7| 303.9807692307692|
|  16|272.96153846153845|
|  20| 256.6601941747573|
|   9|238.52884615384616|
|  21|194.66990291262135|
|  12|193.90384615384616|
|  13|185.82692307692307|
|  15|181.28846153846155|
|  14|170.54807692307693|
|  11|152.20192307692307|
|  22| 143.6893203883495|
|  10|131.89423076923077|
|   6| 107.8076923076923|
|  23|  83.7378640776699|
|   0| 34.55769230769231|
|   5|             25.75|
+----+------------------+
only showing top 20 rows

In [36]:
df_questao_15 = df.filter(col('weekday') == 6)

In [37]:
df_questao_15.groupby('hour').agg(mean('total_count').alias('media_day_6')).orderBy(col('media_day_6').desc()).show()

+----+------------------+
|hour|       media_day_6|
+----+------------------+
|  13|385.37142857142857|
|  15|382.42857142857144|
|  14| 381.3333333333333|
|  12| 375.3809523809524|
|  16|366.14285714285717|
|  17| 334.4095238095238|
|  11| 328.6095238095238|
|  18| 292.0480769230769|
|  10| 263.7238095238095|
|  19|239.93269230769232|
|   9| 186.7904761904762|
|  20| 180.8653846153846|
|  21|             156.0|
|  22|139.66346153846155|
|  23|115.85576923076923|
|   8|114.47619047619048|
|   0|  94.3047619047619|
|   1| 67.78095238095239|
|   2| 50.49523809523809|
|   7| 45.96190476190476|
+----+------------------+
only showing top 20 rows